*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(148, 230, 148);
}
#panel{
    width: 80%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}
#topbar{
    padding: 0px 30%;
    height: 90px;
    width: 100%;
    background-color: green;
    display: flex;
   justify-content: space-between;
   align-items: center;
     color: #fff;
}
.elem{
    
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.elem h2{
    font-weight: 500;
    font-size: 17px;
}
.box{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(17, 121, 17);
    font-weight: 700;
    font-size: 25px;
    padding: 10px 20px;
}
#pbtm{
    width: 100%;
    height: calc(100% - 100px);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px;
   

}
 .bubble{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex; 
     align-items: center;
    justify-content: center;
    font-weight: 500;

}
.bubble:hover{
    background-color: rgb(243, 247, 243);
    color: black;
    border: 1px solid black;
}